<header class="flex justify-between items-center px-10 py-4 bg-three-beige relative z-20">
  <div class="text-xl font-bold tracking-tighter text-three-dark">
    <%= link_to "Three", root_path %>
  </div>

  <nav class="flex items-center gap-6">
    <% if user_signed_in? %>
      <span class="text-three-dark text-xs font-medium"><%= current_user.name %>さん</span>
      <%= link_to t('header.logout'), destroy_user_session_path, 
          data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, 
          class: "bg-three-dark text-three-beige px-6 py-2 font-bold text-sm rounded shadow-sm hover:opacity-90 transition" %>
    <% else %>
      <%= link_to t('header.register'), new_user_registration_path, class: "text-three-dark font-bold text-sm hover:opacity-70 transition" %>
      <%= link_to t('header.login'), new_user_session_path, class: "bg-three-dark text-three-beige px-6 py-2 font-bold text-sm rounded shadow-sm hover:opacity-90 transition" %>
    <% end %>
  </nav>
</header>